@using SCMS.Resource
@{
    ViewBag.Title = Resources.Global_String_Documents + " - " + Resources.Global_String_SupplyChainManagementSystem;
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>@Resources.Global_String_Documents</h2>
