@using SCMS.Resource
@{
    ViewBag.Title = Resources.Global_String_SupplyChainManagementSystem;
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div id="home-dashboard">
<h3 class="title-center">@Resources.Global_String_Dashboard.ToUpper()</h3>
</div>
