@using SCMS.Resource
<div id="tabs" class="tabsShadow">
	<ul>
		<li><a href="#tabs-1">@Resources.Global_String_RequestForPayment</a></li>
	</ul>
	<div id="tabs-1">
		@Html.Action("RFPList")
	</div>
</div>