@using SCMS.Resource
@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Global_String_SCMSError</title>
</head>
<body>
    <h2>
        @Resources.Global_String_SCMSErrorMessage
    </h2>
</body>
</html>