@using SCMS.Resource
<div id='footer-bar' class="container">
    <div class="row">
        <div class="twelve columns">
            <p style="text-align:center;">
                @Resources.Global_String_DRCAddress, drc@drc.dk <a href="http://www.drc.dk">www.drc.dk</a>
            </p>
        </div>
    </div>
</div>