<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="wkhtml" value="C:\\Program Files\\wkhtmltopdf\\"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=6.1.12.611, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"
        validate="true" />
      <add verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="Telerik.ReportViewer.WebForms, Version=6.1.12.611, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="Telerik.Reporting, Version=6.1.12.611, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <sessionState mode="InProc" timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Index"/>
    </authentication>
    <membership defaultProvider="SCMSMembershipProvider">
      <providers>
        <clear/>
        <add name="SCMSMembershipProvider" type="SCMS.CoreBusinessLogic.Security.Providers.SCMSMembershipProvider"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="SCMSRoleProvider">
      <providers>
        <clear/>
        <add name="SCMSRoleProvider" type="SCMS.CoreBusinessLogic.Security.Providers.SCMSRoleProvider"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="SCMS.Resource"/>
      </namespaces>
    </pages>
  </system.web>
  <!--AUTHORIZATION AND AUTHENTICATION RULES
  
  <location path="Home">
    <system.web><authorization><allow users="?"/></authorization></system.web>
  </location>
  <location path="Content">
    <system.web><authorization><allow users="?"/></authorization></system.web>
  </location>
  <location path="Scripts">
    <system.web><authorization><allow users="?"/></authorization></system.web>
  </location>
  <location path="Account">
    <system.web><authorization><allow users="?"/></authorization></system.web>
  </location>
  <location path="Static">
    <system.web><authorization><allow users="?"/></authorization></system.web>
  </location>
  <location>
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  END AUTHORIZATION AND AUTHENTICATION RULES-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=6.1.12.611, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />
      <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SCMSEntities" connectionString="metadata=res://*/ScmsDataModel.csdl|res://*/ScmsDataModel.ssdl|res://*/ScmsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SCMS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SCMS.Reports.Properties.Settings.SCMS" connectionString="Data Source=.;Initial Catalog=SCMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
