@using SCMS.Resource
@{
    Layout = null;
    ViewBag.Title = Resources.Global_String_AccessDenied + " - " + Resources.Global_String_SupplyChainManagementSystem;
}

<div style="color:Red;">
    @Resources.Global_String_AccessDenied.ToUpper()
</div>
