@using SCMS.Resource
@{
      
    ViewBag.Title = Resources.AccessDenied_Index_Title;
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2 style="color: Red; font-size: xx-large;">@Resources.AccessDenied_Index_Header</h2>
<b style="font-weight: bold;">@Resources.AccessDenied_Index_Message</b>